* {   
    
   
    font-size: 20px;
    font-family: 'Comfortaa';
}

.box{
    padding-top: 30%;   
    
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.box-text{
    padding-top: 65%;
   margin-right: 5%;
   font-family: 'Comfortaa', cursive;
    
}

.container{  
 
    height: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr;  
    align-content: space-around;

}

.img-about{
    
    width: 150%;
    height: 50%;
}

h3{
    text-align: center;
}

.cita, .description, .description-child{
    text-align: justify;
}

.cita-autor{
    text-align: right;
}
